@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Sans:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-momo: "Momo Trust Sans", sans-serif;
  --color-primary: #85261e;
}

body {
  font-family: "Momo Trust Sans", sans-serif;
}
